absl-py
astunparse
beautifulsoup4
blinker
certifi
charset-normalizer
click
deepface
filelock
fire
Flask
flask-cors
flatbuffers
gast
gdown
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
Jinja2
joblib
keras
libclang
lz4
Markdown
markdown-it-py
MarkupSafe
mdurl
ml-dtypes
mtcnn
namex
numpy
opencv-python
opt_einsum
optree
packaging
pandas
pillow
protobuf
Pygments
PySocks
python-dateutil
pytz
requests
retina-face
rich
setuptools
six
soupsieve
tensorboard
tensorboard-data-server
tensorflow
termcolor
tf_keras
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wheel
wrapt