# Ignore Go module cache
**/vendor/

# Ignore IDE and editor files
.vscode/
.idea/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore Git files
.git/
.gitignore

# Ignore Docker files
Dockerfile
docker-compose.yml
