input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #25252d;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #25252d;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
  }